body {margin:0; padding:0; font-size:100%; line-height:160%;}

#main {padding:20px;}
h1 {color:#014099; margin:0; padding:10px 0; font-size:140%; margin-bottom:20px; text-align:center;}
#a_center {font-size:100%; text-align:center;}
a {font-size:120%;}