<?xml version="1.0"?>

<configuration>
  <appSettings>
    <add key="FilterWords" value="法轮功,江泽民"/>
    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMediaService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/MediaService/basic"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMediaService"
        contract="ServiceReference1.IMediaService" name="BasicHttpBinding_IMediaService" />
    </client>
  </system.serviceModel>
</configuration>
